<!-- learn angular -->
<section class="bg-dark text-light p-5 text-center text-sm-start">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content">
      <div>
        <h1>Bitcoin</h1>
        <p class="h5">Apa itu Bitcoin dan fungsinya?</p>
        <p class="load my-4">
          Bitcoin (BTC) adalah mata uang virtual yang dikembangkan pada tahun
          2009. Ditemukan oleh Satoshi Nakamoto (nama samaran). Mata uang ini
          seperti layaknya Dolar, Pound Sterling, Rupiah, ataupun mata uang
          lainnya, akan tetapi hanya ada di dunia digital.
        </p>
        <a href="" class="btn btn-light">
          <i class="bi bi-chevron-right"></i>Selengkapnya
        </a>
      </div>
      <img
        src="../../../../assets/images/bitcoin.png"
        alt="Angular"
        class="img-fluid w-50 d-none d-sm-block"
      />
    </div>
  </div>
</section>
