<section id="learn" class="p-5">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md">
        <img src="../../../../assets/images/banner-icon.jpg" alt="HTML 5" class="img-fluid" />
      </div>
      <div class="col-md p-5">
        <p class="lead">
          Apa yg dimaksud dengan saham? <br><br>
          Saham dapat diartikan sebagai tanda
          penyertaan modal seseorang atau pihak (badan usaha) pada suatu
          perusahaan atau Perseroan Terbatas. Dengan menyertakan modal tersebut,
          maka pihak tersebut memiliki klaim (hak) atas pendapatan perusahaan,
          aset perusahaan, dan berhak hadir dalam Rapat Umum Pemegang Saham
          (RUPS).
        </p>
        <a href="" class="btn btn-dark mt-3">
          <i class="bi bi-chevron-right"></i>Selengkapnya
        </a>
      </div>
    </div>
  </div>
</section>
